@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.App-subtitle {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.plainSVGDiv {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  color: #222;
}

.plainSVGDiv p {
  width: 30vw;
  text-align: left;
  border: 3px solid #222;
  padding: 20px;
  margin-right: 50px;
}

.compassRose {
  /* border: 1px solid red; */
  background-color: #222;
  padding: 50px 0;
}

.pContainer {
  width: 100vw;
  
}

.pContainer > p {
  width: 80vw;
  text-align: center;
  border: 3px solid #fff;
  padding: 20px;
  margin: 0 auto 50px auto;
  color: #fff
}

